// ====================================
// Color Palette
// ====================================

$white-1: #FFFFFF;
$white-2: #FAFAFA;
$gray-1: #bfbfbf;
$gray-2: #5f5f5f;
$gray-3: #4D4743;
$gray-4: #393939;
$gray-5: #252525;
$black: #171717;        