.nav__wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(37,37,37,.85), rgba(37,37,37,.85)), url("../assets/images/snowy-mountain-1280w.jpeg");
  z-index: 1001;
}

.nav {height: 100%;}

.nav__links {margin-top: 10rem;}

.nav__link {
  margin-bottom: 1.25rem;
  font-family: $font-secondary;
  font-size: 1.7rem;
  color: $white-1;
  transition: color .3s;
  &:hover {
    color: $gray-1;
  }
}

.nav__open,
.nav__close {
  font-size: 1.75rem;
  color: $white-1;
  cursor: pointer; 
}

.nav__close {
  position: absolute;
  top: 22px;
  right: 18px;
}
